<section class="center-content password-page">
  <h2>{{ 'general.password_page.opening_soon' | t }}</h2>

  <div class="content-wrap">
    {% unless shop.password_message == blank %}
      <p>
        {{ shop.password_message }}
      </p>
    {% endunless %}

    <div class="form--small">
      <p>{{ 'general.password_page.signup_form_heading' | t }}:</p>
      {% form 'customer' %}

        {{ form.errors | default_errors }}

        {% if form.posted_successfully? %}
          <ul class="form-success">
            <li>{{ 'general.password_page.signup_form_success' | t }}</li>
          </ul>
        {% else %}
          <input type="hidden" name="contact[tags]" value="prospect, password page">
          <input type="email"
            name="contact[email]"
            id="Email"
            spellcheck="false"
            autocomplete="off"
            autocapitalize="off"
            placeholder="{{ 'general.password_page.signup_form_email_placeholder' | t }}">
          <button type="submit" name="commit" class="button">
            {{ 'general.password_page.signup_form_submit' | t }}
          </button>
        {% endif %}
      {% endform %}
    </div>

    {% if settings.share_facebook or settings.share_twitter %}
      <p>{{ 'general.password_page.spread_the_word' | t }}</p>
      {% include 'social-sharing' %}
    {% endif %}

    <div class="content-bottom">
      <a href="#Login" class="link--icon link--icon-text">
        {% include 'icon-lock' %}
        <span class="link--icon__text">{{ 'general.password_page.password_link' | t }} &rarr;</span>
      </a>

      <div id="Login" class="form--small">
        {% form 'storefront_password' %}
          {{ form.errors | default_errors }}
          <input type="password"
            name="password"
            id="Password"
            placeholder="{{ 'general.password_page.login_form_password_placeholder' | t }}">
          <button type="submit" name="commit" class="button">
            {{ 'general.password_page.login_form_submit' | t }}
          </button>
        {% endform %}
        <p>{{ 'general.password_page.admin_link_html' | t }}</p>
    </div>
  </div>

  </div>
</section>
