<footer>
  {%- assign social_accounts = 'Facebook, Twitter, Pinterest, Instagram, Snapchat, Tumblr, YouTube, Vimeo,' | split: ', ' -%}

  {% if section.settings.show_payment_icons %}
    {% unless shop.enabled_payment_types == empty %}
      <span class="visually-hidden">{{ 'layout.footer.payment_methods' | t }}</span>
      <ul class="payment-icons">
        {% for type in shop.enabled_payment_types %}
          <li>
            {{ type | payment_type_svg_tag: class: 'icon' }}
          </li>
        {% endfor %}
      </ul>
    {% endunless %}
  {% endif %}

  {%- assign footer_linklist = section.settings.footer_linklist -%}
  {% if linklists[footer_linklist].links.size > 0 %}
    <ul>
      {% for link in linklists[footer_linklist].links %}
        <li><a href="{{ link.url }}">{{ link.title }}</a></li>
      {% endfor %}
    </ul>
  {% endif %}

  <div class="footer__left">
    <small>{{ 'layout.footer.copyright' | t }} &copy; {{ 'now' | date: "%Y" }}, {{ shop.name | link_to: '/' }}. {{ powered_by_link }}</small>
  </div>

  <div class="footer__right">
    <ul class="social-sharing list--reset">
      <li>
        <a target="_blank" href="https://www.instagram.com/trusjewelry/" class="link--icon" rel="noopener noreferrer">
          {% include 'icon-instagram' %}
        </a>
      </li>
      <li>
        <a target="_blank" href="https://www.facebook.com/trusjewelry" class="link--icon" rel="noopener noreferrer">
          {% include 'icon-facebook' %}
        </a>
      </li>
    </ul>

  </div>
</footer>
