<footer>
  {%- assign social_accounts = 'Facebook, Twitter, Pinterest, Instagram, Snapchat, Tumblr, YouTube, Vimeo,' | split: ', ' -%}

  {% if section.settings.show_payment_icons %}
    {% unless shop.enabled_payment_types == empty %}
      <span class="visually-hidden">{{ 'layout.footer.payment_methods' | t }}</span>
      <ul class="payment-icons">
        {% for type in shop.enabled_payment_types %}
          <li>
            {{ type | payment_type_svg_tag: class: 'icon' }}
          </li>
        {% endfor %}
      </ul>
    {% endunless %}
  {% endif %}
  {%- assign footer_linklist = section.settings.footer_linklist -%}
  {% if linklists[footer_linklist].links.size > 0 %}
    <ul>
      {% for link in linklists[footer_linklist].links %}
        <li><a href="{{ link.url }}">{{ link.title }}</a></li>
      {% endfor %}
    </ul>
  {% endif %}

  <div class="grid grid--row footer__links">
    <div class="footer__copyright">
      <p class="type--no-pad">{{ shop.name | link_to: '/' }}</p>
      <p class="type--no-pad">&copy; {{ 'layout.footer.copyright' | t }} {{ 'now' | date: "%Y" }}</p>
      <p class="type--no-pad"><small>{{ powered_by_link }}</small></p>
    </div>
    <ul class="list--reset footer__pages">
      <li><a class="link--lg" href="/">Home</a></li>
      <li><a class="link--lg" href="/collections/all">Shop</a></li>
      <li><a class="link--lg" href="/pages/about">About</a></li>
    </ul>
    <ul class="list--reset footer__contact">
      <li><a class="link--lg" href="/pages/about#contact">Contact</a></li>
      <li><a class="link--lg" target="_blank" href="mailto:info@trusjewelry.com" rel="noopener noreferrer">Email</a></li>
    </ul>
    <div class="footer__social">
      <p class="type--no-pad hidden-mobile">Social:</p>
      <ul class="list--reset">
        <li>
          <a target="_blank" href="https://www.instagram.com/trusjewelry/" class="link--lg" rel="noopener noreferrer">
            Instagram
          </a>
        </li>
        <li>
          <a target="_blank" href="https://www.facebook.com/trusjewelry" class="link--lg" rel="noopener noreferrer">
            Facebook
          </a>
        </li>
      </ul>
    </div>

    <div class="footer__newsletter">
      <p class="type--no-pad">Newsletter Signup</p>
      {% include 'newsletter-form' %}
    </div>
  </div>

</footer>
