<header role="banner" class="site-header">
  {% if template.name == 'index' %}
    <h1>
  {% else %}
    <div class="h1">
  {% endif %}
      <a href="/" class="logo-image">
        {% include 'logo' %}
      </a>
  {% if template.name == 'index' %}
    </h1>
  {% else %}
    </div>
  {% endif %}
  <a href="/cart" class="link--cart">
    {% include 'icon-bag' %}
    <span class="link--cart__count">({{ cart.item_count }})</span>
  </a>

  <button class="btn--reset nav-toggle"></button>
</header>

<nav role="navigation" class="site-nav">
  <div class="site-nav__wrap">
    <ul class="list--reset">
      {% comment %}
      <li class="type--header">
        <a href="/cart" class="link--cart link--lg">
          <span>
            {{ 'layout.cart.title' | t }}
            ({{ cart.item_count }} {{ 'layout.cart.items_count' | t: count: cart.item_count }})
          </span>
        </a>
      </li>
        {% endcomment %}
      {% for link in linklists[section.settings.menu].links %}
        {% if link.links != blank %}
          <li>
            <a href="{{ link.url }}">
              {{ link.title }}
              {% include 'icon-arrow-down' %}
            </a>
            <ul>
              {% for childlink in link.links %}
                <li>
                  <a href="{{ childlink.url }}">
                    {{ childlink.title }}
                  </a>
                </li>
              {% endfor %}
            </ul>
          </li>
        {% else %}
          <li>
            <a href="{{ link.url }}">
              {{ link.title }}
            </a>
          </li>
        {% endif %}
      {% endfor %}
      <li class="type--header">
        <a class="link--lg" href="/collections/frontpage">Shop</a>
      </li>
      <li class="type--header">
        <a class="link--lg" href="/pages/about">About</a>
      </li>
    </ul>
    <ul class="list--reset">
      {% if shop.customer_accounts_enabled %}
        <li>
          <ul>
            {% if customer %}
              <li>
                {% if customer.first_name != blank %}
                  {% capture first_name %}<a href="/account">{{ customer.first_name }}</a>{% endcapture %}
                  {{ 'layout.customer.logged_in_as_html' | t: first_name: first_name }}
                {% else %}
                  <a href="/account">{{ 'layout.customer.account' | t }}</a>
                {% endif %}
              </li>
              <li>
                {{ 'layout.customer.log_out' | t | customer_logout_link }}
              </li>
            {% else %}
              <li>
                {{ 'layout.customer.log_in' | t | customer_login_link }}
              </li>
              <li>
                {{ 'layout.customer.create_account' | t | customer_register_link }}
              </li>
            {% endif %}
          </ul>
        </li>
      {% endif %}
      <li class="form-reveal">
        {% comment %}
        <button class="btn--reset">{% include 'icon-search' %}</button>
        {% include 'search-form' %}
        {% endcomment %}
      </li>
    </ul>
    <p class="type--header type--medium">Social:</p>
    <a target="_blank" href="https://www.instagram.com/trusjewelry/" class="link--lg type--header type--medium" rel="noopener noreferrer">
      Instagram
    </a>
    <a target="_blank" href="https://www.facebook.com/trusjewelry" class="link--lg type--header type--medium" rel="noopener noreferrer">
      Facebook
    </a>
  </div>
</nav>
