{%- assign current_variant = product.selected_or_first_available_variant -%}
{%- assign featured_image = current_variant.featured_image | default: product.featured_image -%}

{% comment %}
<div class="breadcrumbs">
  <span class="type--thin">Collections</span>
  <span class="type--thin">/</span>
  <a href="{{ collection.url }}"><span class="type--thin">{{ collection.title }}</span></a>
  <span class="type--thin">/</span>
  <span>{{ product.title }}</span>
</div>
{% endcomment %}

<h1 class="type--lg type--wide type--center product-title">{{ product.title }}</h1>

<div data-section-id="{{ section.id }}" data-section-type="product" data-enable-history-state="true" class="grid grid--row product-page">
  <section class="grid--60 product__content">

    <p class="type--body">
      <span>{{ product.title }}</span>
      <span>-</span>
      <span>Collection {{ product.collections.first.title }}</span>
    </p>
    <p class="type--body">
    </p>

    <div class="product__price form--small" data-price-wrapper>
      <span data-product-price>
        {{ current_variant.price | money }}
      </span>

      {% if product.compare_at_price_max > product.price %}
        <span class="visually-hidden" data-compare-text>{{ 'products.product.regular_price' | t }}</span>
        <s data-compare-price>
          {% if current_variant.compare_at_price > current_variant.price %}
            {{ current_variant.compare_at_price | money }}
          {% endif %}
        </s>
      {% endif %}
    </div>

    <form action="/cart/add" method="post" enctype="multipart/form-data" class="product-form">
      {% unless product.has_only_default_variant %}
        {% for option in product.options_with_values %}
          <div class="selector-wrapper js product-form__item">
            <label for="SingleOptionSelector-{{ forloop.index0 }}">
              {{ option.name }}
            </label>

            <select
              id="SingleOptionSelector-{{ forloop.index0 }}"
              data-single-option-selector
              data-index="option{{ option.position }}">
              {% for value in option.values %}
                <option
                  value="{{ value | escape }}"
                  {% if option.selected_value == value %}selected="selected"{% endif %}>
                    {{ value }}
                </option>
              {% endfor %}
            </select>
          </div>
        {% endfor %}
      {% endunless %}

      <select name="id" class="product-form__variants no-js" data-product-select>
        {% for variant in product.variants %}
          <option
            {% if variant == current_variant %}selected="selected"{% endif %}
            {% unless variant.available %}disabled="disabled"{% endunless %}
            value="{{ variant.id }}">
              {{ variant.title }}
          </option>
        {% endfor %}
      </select>

      {% comment %}
      <label for="Quantity">{{ 'products.product.quantity' | t }}</label>
      <input type="number" id="Quantity" name="quantity" value="1" min="1">
      {% endcomment %}

      <button
        class="button product-form__submit"
        type="submit"
        name="add"
        data-add-to-cart
        {% unless current_variant.available %}disabled="disabled"{% endunless %}>
          <span data-add-to-cart-text>
            {% if current_variant.available %}
              {{ 'products.product.add_to_cart' | t }}
            {% else %}
              {{ 'products.product.sold_out' | t }}
            {% endif %}
          </span>
      </button>
    </form>

    <div class="rte product__description">
      {{ product.description }}
    </div>

    {% unless product == empty %}
      <script type="application/json" data-product-json>
        {{ product | json }}
      </script>
    {% endunless %}
  </section>

  <section class="grid--40 product__images">
    <ul class="product-images--hidden">
      {% for image in product.images %}
        <li>
          {% capture wrapper_class %}
            {%- unless featured_image == image -%}
              hide
            {%- endunless -%}
          {% endcapture %}

          {% include 'responsive-image' with
            image: image,
            max_width: 700,
            max_height: 800,
            image_attributes: "data-product-featured-image",
            wrapper_class: wrapper_class,
            wrapper_attributes: "data-product-image-wrapper",
            image_class: "js-product-images"
          %}
        </li>
      {% endfor %}
    </ul>

    <div class="product-image--main js-product-image">
      {% include 'responsive-image' with
        image: featured_image,
        max_width: 1400,
        max_height: 1500,
        image_attributes: "data-product-featured-image",
        wrapper_class: wrapper_class,
        wrapper_attributes: "data-product-image-wrapper",
      %}
    </div>

    {% if product.images.size > 1 %}
      <ul class="list--reset grid grid--row product-image--thumbs product-image--{{ product.images.size }}">
        {% for image in product.images %}
          <li>
            <a href="{{ image.src | img_url: '480x480' }}" class="js-product-thumb" data-thumbnail-id="{{ image.id }}" data-product-single-thumbnail>
              <img class="product-single__thumbnail-image" src="{{ image.src | img_url: '160x160' }}" alt="{{ image.alt | escape }}">
            </a>
          </li>
        {% endfor %}
      </ul>
    {% endif %}
  </section>
</div>

<div class="product-page">
  {% if section.settings.show_share_buttons %}
    {% include 'social-sharing', share_title: product.title, share_permalink: product.url, share_image: product %}
  {% endif %}
</div>


{% if collection.products.size %}
<div class="related-products">
  <h3 class="type--center">Related Products</h3>
  <ul class="grid grid--row list--reset related-products__list">
  {% for product in collection.products %}
    <li>
      {% include 'product-thumb' with { product: product } %}
    </li>
  {% endfor %}
  </ul>
</div>
{% endif %}

{% schema %}
  {
    "name": "Product pages",
    "settings": [
      {
        "type": "checkbox",
        "id": "show_share_buttons",
        "label": "Show social sharing buttons",
        "default": true
      }
    ]
  }
{% endschema %}

