<!doctype html>
<html lang="{{ shop.locale }}">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="theme-color" content="">
  <link rel="canonical" href="{{ canonical_url }}">

  <title>{{ shop.name }}</title>
<!--
  <meta name="description" content="The Mass Bail Out will focus on freeing children and women from Rikers Island, demonstrating that decarceration is possible now. Learn more about how to get involved." />
  <meta name="author" content="" />
  <meta property="og:title" content="Mass Bail Out" />
  <meta property="og:type" content="website" />
  <meta property="og:locale" content="en_us" />
  <meta property="og:image" content="https://massbailout.com/assets/og_image.png" />
  <meta property="og:image:width" content="1024" />
  <meta property="og:image:height" content="538" />
  <meta property="og:url" content="https://massbailout.com" />
  <meta property="og:description" content="The Mass Bail Out will focus on freeing children and women from Rikers Island, demonstrating that decarceration is possible now. Learn more about how to get involved." />
  <meta property="twitter:title" content="Mass Bail Out" />
  <meta property="twitter:description" content="The Mass Bail Out will focus on freeing children and women from Rikers Island, demonstrating that decarceration is possible now. Learn more about how to get involved." />
  <meta property="twitter:card" content="summary_large_image" />
  <meta property="twitter:site" content="@massbailout" />
  <meta property="twitter:image" content="https://massbailout.com/assets/twitter_image.png" />
  <meta property="twitter:image:width" content="1200" />
  <meta property="twitter:image:height" content="630" />

  <link rel="icon" type="image/ico" href="https://massbailout.com/assets/favicon.ico" sizes="128x128">
  <link rel="icon" type="image/png" href="https://massbailout.com/assets/favicon.png" sizes="196x196">
  <link rel="icon" type="image/png" href="https://massbailout.com/assets/fav_196.png" sizes="196x196">
  <link rel="icon" type="image/png" href="https://massbailout.com/assets/fav_128.png" sizes="128x128">
  <link rel="icon" type="image/png" href="https://massbailout.com/assets/fav_96.png" sizes="96x96">
  <link rel="icon" type="image/png" href="https://massbailout.com/assets/fav_32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="https://massbailout.com/assets/fav_16.png" sizes="16x16">
  <link rel="apple-touch-icon-precomposed" type="image/png" href="https://massbailout.com/assets/apple_touch_icon_152.png" sizes="152x152">
  <link rel="apple-touch-icon-precomposed" type="image/png" href="https://massbailout.com/assets/apple_touch_icon_144.png" sizes="144x144">
  <link rel="apple-touch-icon-precomposed" type="image/png" href="https://massbailout.com/assets/apple_touch_icon_114.png" sizes="114x114">
  <link rel="apple-touch-icon-precomposed" type="image/png" href="https://massbailout.com/assets/apple_touch_icon_120.png" sizes="120x120">
  <link rel="apple-touch-icon-precomposed" type="image/png" href="https://massbailout.com/assets/apple_touch_icon_76.png" sizes="76x76">
  <link rel="apple-touch-icon-precomposed" type="image/png" href="https://massbailout.com/assets/apple_touch_icon_72.png" sizes="72x72">
  <link rel="apple-touch-icon-precomposed" type="image/png" href="https://massbailout.com/assets/apple_touch_icon_60.png" sizes="60x60">
  <link rel="apple-touch-icon-precomposed" type="image/png" href="https://massbailout.com/assets/apple_touch_icon_57.png" sizes="57x57">
 -->

  {% include 'style-tags', layout: 'theme' %}
  {% include 'script-tags', layout: 'theme' %}

  {{ content_for_header }}
</head>

<body>
  {% section 'header' %}
  <main class="content">
    {{ content_for_layout }}
  </main>
  {% section 'footer' %}
</body>
</html>
