<!doctype html>
<html lang="{{ shop.locale }}">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="theme-color" content="">
  <link rel="canonical" href="{{ canonical_url }}">

  {%- if settings.favicon != blank -%}
    <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png">
  {%- endif -%}

  {%- capture seo_title -%}
    {{ page_title }}
    {%- if current_tags -%}
      {%- assign meta_tags = current_tags | join: ', ' -%} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags -}}
    {%- endif -%}
    {%- if current_page != 1 -%}
      &ndash; {{ 'general.meta.page' | t: page: current_page }}
    {%- endif -%}
    {%- assign escaped_page_title = page_title | escape -%}
    {%- unless escaped_page_title contains shop.name -%}
      &ndash; {{ shop.name }}
    {%- endunless -%}
  {%- endcapture -%}
  <title>{{ seo_title | strip }}</title>

  {%- if page_description -%}
    <meta name="description" content="{{ page_description | escape }}">
  {%- endif -%}


  {% comment %}
  <title>{{ shop.name }}</title>

  <meta name="description" content="{{ page_description | escape }}" />
  <meta name="author" content="" />
  <meta property="og:title" content="Trüs Jewelry | Fine Pinky Rings" />
  <meta property="og:type" content="website" />
  <meta property="og:locale" content="en_us" />
  <meta property="og:image" content="" />
  <meta property="og:image:width" content="1024" />
  <meta property="og:image:height" content="538" />
  <meta property="og:url" content="" />
  <meta property="og:description" content="" />
  <meta property="twitter:title" content="" />
  <meta property="twitter:description" content="" />
  <meta property="twitter:card" content="summary_large_image" />
  <meta property="twitter:site" content="" />
  <meta property="twitter:image" content="" />
  <meta property="twitter:image:width" content="1200" />
  <meta property="twitter:image:height" content="630" />
  {% endcomment %}

  <link rel="icon" type="image/ico" href="/images/favicon.ico" sizes="48x48">
  <link rel="icon" type="image/png" href="/images/favicon.png" sizes="196x196">
  <link rel="icon" type="image/png" href="/images/favicon_196.png" sizes="196x196">
  <link rel="icon" type="image/png" href="/images/favicon_128.png" sizes="128x128">
  <link rel="icon" type="image/png" href="/images/favicon_96.png" sizes="96x96">
  <link rel="icon" type="image/png" href="/images/favicon_32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="/images/favicon_16.png" sizes="16x16">
  <link rel="apple-touch-icon-precomposed" type="image/png" href="/images/apple_touch_icon_152.png" sizes="152x152">
  <link rel="apple-touch-icon-precomposed" type="image/png" href="/images/apple_touch_icon_144.png" sizes="144x144">
  <link rel="apple-touch-icon-precomposed" type="image/png" href="/images/apple_touch_icon_114.png" sizes="114x114">
  <link rel="apple-touch-icon-precomposed" type="image/png" href="/images/apple_touch_icon_120.png" sizes="120x120">
  <link rel="apple-touch-icon-precomposed" type="image/png" href="/images/apple_touch_icon_76.png" sizes="76x76">
  <link rel="apple-touch-icon-precomposed" type="image/png" href="/images/apple_touch_icon_72.png" sizes="72x72">
  <link rel="apple-touch-icon-precomposed" type="image/png" href="/images/apple_touch_icon_60.png" sizes="60x60">
  <link rel="apple-touch-icon-precomposed" type="image/png" href="/images/apple_touch_icon_57.png" sizes="57x57">

  {% include 'social-meta-tags' %}
  {% include 'style-tags', layout: 'theme' %}
  {% include 'script-tags', layout: 'theme' %}

  {{ content_for_header }}
</head>

<body>
  {% section 'header' %}
  <main class="content">
    {{ content_for_layout }}
  </main>
  {% section 'footer' %}
</body>
</html>
